<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/title-bar.css">
    <script src="../js/title-bar.js"></script>

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="title-bar">
        <div class="title">
            <span>*Untitled</span>
        </div>
        <div class="actions">
            <button id="dismissBtn"><img src="../assets/windows-actions/dismiss.svg"></button>
            <button id="maximizeBtn"><img src="../assets/windows-actions/maximize.svg"></button>
            <button id="closeBtn"><img src="../assets/windows-actions/close.svg"></button>
        </div>
    </div>
</body>
</html>